<ion-view title="Register">
    <ion-content padding="'false'" class="has-header register-page">
        <form class="list ng-pristine ng-valid">
            <ion-list class="disable-user-behavior">
                <div class="profile-block col-center">
                    <img src="images/profile.png" class="profile-mug"><br>
                    <a href="">Add a photo</a>
                </div>

                <label class="item item-input">
                    <input type="text" placeholder="Name" aria-label="name" autocomplete="name" ng-model="user.name"/>
                </label>
                <div class="section-header col-center"><span>Login</span></div>
                <label class="item item-input">
                    <input type="email" placeholder="Email" aria-label="email" autocomplete="email" ng-model="user.email"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" aria-label="password" autocomplete="new-password" ng-model="user.password"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" aria-label="confirm password" autocomplete="new-password" ng-model="user.confirm_password"/>
                </label>
                <button class="button button-full" ng-click="createUser()">Register</button>
            </ion-list>
        </form>
    </ion-content>
</ion-view>