<ion-view title="Login" hide-nav-bar="true">
    <ion-content padding="'true'" class="login-page full-screen--center">
        <form class="list">
            <ion-list>
                <img src="images/logo.png" class="logo">
                <label class="item item-input">
                    <input type="email" placeholder="Email" aria-label="email" autocomplete="email" ng-model="user.email"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" aria-label="password" autocomplete="current-password" ng-model="user.password"/>
                </label>
                <button class="button button-full" ng-click="log_in()">Let's Go</button>
                <div class="col col-center secondary-links">
                    <a menu-close="" href="#/app/accounts/new" class="">Register</a>
                    &bull;
                    <a href="">Forgot Password</a>
                </div>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
