<ion-view title="Login" hide-nav-bar="true">
  <ion-content padding="'true'" class="has-header login-page">
    <div class="row responsive-sm">
      <div class="col col-center">
        <img src="/images/logo.png" class="logo">
      </div>
    </div>
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" placeholder="" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="user.password">
        </label>
      </ion-list>

      <button class="button button-positive button-block" ng-click="log_in()" style=""><strong>Lets Go</strong></button>

      <div class="col col-center secondary-links">
        <a menu-close="" href="#/app/accounts/new" class="">Register</a>
        &bull;
        <a href="">Forgot Password</a>
      </div>
      <div class="spacer" style="height: 40px;"></div>
    </form>
  </ion-content>
</ion-view>
