<ion-view title="Edit Project">
  <ion-nav-buttons side="primary">
    <button class="button button-assertive" ng-click="delete_project()" style="float:left">Delete Project</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a class="button" href="#/app/projects/{{project.$id}}">Cancel</a>
  </ion-nav-buttons>
  <ion-content padding="'true'" class="has-header">
    <form class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Project Name</span>
        <input type="text" placeholder="Project Name" ng-model="project.name">
      </label>
      <label class="item item-select item-stacked-label" name="Category">
        <span class="input-label">Category</span>
        <select name="category" ng-model="project.category">
          <option ng-repeat="category in categories track by $index" value="{{category}}">{{category}}</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" name="Description">
        <span class="input-label">Short Description</span><textarea placeholder="Short Description" ng-model="project.description"> </textarea>
      </label>
      <ion-toggle toggle-class="" ng-model="project.is_private">Private</ion-toggle>
    </form>
    <button class="button button-positive button-block" ng-click="update_project()">Edit Project</button>
  </ion-content>
</ion-view>
