<ion-view title="Project">

  <ion-nav-buttons side="secondary">
    <a class="button button-positive" href="#/app/projects/{{project.$id}}/edit" ng-show="is_logged_in() &amp;&amp; joined()">Edit</a>
  </ion-nav-buttons>

  <ion-content padding="'true'" class="has-header">
    <h1>{{project.name}}</h1>
    <p>{{project.description}}</p>

    <div class="list card">
      <div class="item item-divider" align-title="center">
        Meetups
        <button ng-click="load_meetup_form()" ng-show="is_logged_in()" style="float:right">Add</button>
      </div>

      <div class="item item-body" ng-show="!project.meetups">
        <ion-item>
          <p>No meetups planned</p>
        </ion-item>
      </div>

      <ion-list class="item item-body" ng-show="project.meetups">
        <ion-item menu-close="" class="item-thumbnail-left" ng-repeat="(key, meetup) in project.meetups" ng-click="load_meetup(key)">
          <img>
          <h2>{{meetup.topic}}</h2>
          <p>{{meetup.description}}</p>
        </ion-item>
      </ion-list>
    </div>

    <div class="list card">
      <div class="item item-divider">People</div>
      <div class="item item-body">
        <ion-item menu-close="" class="item-thumbnail-left" ng-repeat="person in project.people">
          <user-card id="{{person}}"></user-card>
        </ion-item>
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-dark">
    <button class="button button-clear"></button>
    <div class="title">
      <button class="button button-assertive" ng-show="is_logged_in() &amp;&amp; joined()" ng-click="leave_project()">Leave This</button>
      <button class="button button-balanced" ng-show="is_logged_in() &amp;&amp; !joined()" ng-click="join_project()">Join This</button>
      <a class="button button-balanced" href="#/app/login" ng-show="!is_logged_in()">Login to Join</a>
    </div>
    <button class="button button-clear"></button>
  </div>
</ion-view>
