<ion-view>
  <ion-nav-title>{{project.name}}</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <a class="button button-positive nav-bar-links" href="#/app/projects/{{project.$id}}/edit" ng-show="is_logged_in() &amp;&amp; joined()">Edit</a>
  </ion-nav-buttons>

  <ion-content padding="'true'" class="has-header project-page">
    <img src="images/default.png" style="width:100%">
    <h1>{{project.name}}</h1>
    <p>{{project.description}}</p>

    <div class="button-bar">
      <a class="button" ng-class="{active: tab=='activity'}" ng-click="tab='activity'">Activity</a>
      <a class="button" ng-class="{active: tab=='tasks'}" ng-click="tab='tasks'">Tasks</a>
      <a class="button" ng-class="{active: tab=='people'}" ng-click="tab='people'">People</a>
    </div>

    <ion-item ng-show="tab=='activity'" class="tab-content">
      <form class="list" ng-submit="create_activity()">
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="What are you doing?" ng-model="activity.description">
        </label>
      </form>

      <div class="tasks" ng-repeat="activity in project.activities | orderObjectBy:'created_at':true">
        <ion-item menu-close="" class="item-thumbnail-left">
          <activity-card id="{{activity.created_by}}" activity="activity" class="item-avatar"></activity-card>
        </ion-item>
      </div>
    </ion-item>

    <ion-item ng-show="tab=='tasks'" class="tab-content">
      <form class="list" ng-submit="create_task()">
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Add a task" ng-model="task.description">
        </label>
      </form>

      <div ng-repeat="task in project.tasks | orderObjectBy:'created_at':true" class="tasks">
        <ion-checkbox class="checkbox-emmersive" ng-change="testit(task)" ng-model="task.status" ng-true-value="'open'" ng-false-value="'closed'">
          <a href="/#/app/profile/{{task.created_by}}" style="font-weight:bold;text-decoration:none"><principal id="{{task.created_by}}"></principal></a><br>
          {{task.description}}
        </ion-checkbox>
      </div>
    </ion-item>

    <div ng-show="tab=='people'">
      <div class="col-center">
        <a ng-show="is_logged_in() &amp;&amp; joined()" ng-click="leave_project()">Leave This Project</a>
        <a ng-show="is_logged_in() &amp;&amp; !joined()" ng-click="join_project()">Join This Project</a>
        <a href="#/app/login" ng-show="!is_logged_in()">Login to Join Project</a>
      </div>
      <ion-item menu-close="" class="item-thumbnail-left" ng-repeat="person in project.people">
        <user-card id="{{person}}" class="item-avatar"></user-card>
      </ion-item>
    </div>

  </ion-content>


</ion-view>
